<% nav :create %>

<% content_for :resources_content do %>
  <div class="col-md-12">
    <div class="row">

      <div class="col-md-2">
        <%= link_to import_resources_path(resource_type, @lexicon), class: 'btn btn-default' do %>
          <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
          Import Data
        <% end %>
      </div>

      <div class="col-md-8">
        <%= form_tag quick_create_resources_path(resource_type, @lexicon), method: :post do %>
          <div class="input-group">
            <!-- Representation Selection Button -->
            <span class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= @representation.capitalize %>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <%= link_to "Simplified", quick_new_resources_path(resource_type, @lexicon, repr: 'simplified') %>
                </li>
                <li>
                  <%= link_to "Traditional", quick_new_resources_path(resource_type, @lexicon, repr: 'traditional') %>
                </li>
                <li>
                  <%= link_to "Pinyin", quick_new_resources_path(resource_type, @lexicon, repr: 'pinyin') %>
                </li>
              </ul>
            </span>

            <%= text_field_tag :written_form, nil, class: 'form-control', autofocus: true %>
            <%= hidden_field_tag :repr, @representation %>

            <!-- Create Button -->
            <span class="input-group-btn">
              <%= content_tag :button, type: 'submit', class: 'btn btn-success' do %>
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
                Create
              <% end %>
            </span>
          </div>
        <% end %>
      </div>

      <div class="col-md-2">
        <%= link_to new_resources_path(resource_type, @lexicon), class: 'btn btn-success' do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          New
        <% end %>
      </div>

    </div>

    <hr />

    <div class="row">
      <div class="col-md-12">
        <%= flash_messages %>
        <%= yield %>
      </div>
    </div>

  </div>
<% end %>

<%= render template: "layouts/lexicon_resources" %>
