<h1>Sign Up</h1>

<%= bootstrap_form_for @user do |f| %>
  <%= f.text_field :name, autofocus: true %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign Up", class: "btn btn-success" %>
<% end %>
