<div class="row">
  <div class="col-md-2">
    <%= link_to lexical_entry_path(@lexical_entry), class: "link" do %>
      <span aria-hidden="true">&larr;</span>
      Back
    <% end %>
  </div>

  <div class="col-md-10">
    <div class="btn-group" role="group" style="float: right;">
      <%= link_to edit_sense_path(@lexical_entry), class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        Edit
      <% end %>
      <%= link_to sense_path(@lexical_entry), method: :delete, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
        Delete
      <% end %>
    </div>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <h3>
      <%= render partial: "cmn/lexical_entries/lemma", locals: {lexical_entry: @lexical_entry} %>
    </h3>
    <h4>
      <%= @sense.description %>
    </h4>
  </div>
</div>

<br />

<div class="row">
  <div class="col-md-12">
    <h5>
      Examples
      <%= link_to edit_sense_examples_path(@sense), class: 'btn btn-default', style: "float: right;" do %>
        <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
        Select Sentences
      <% end %>
    </h5>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% for sentence in @sense.sentences %>

      <div class="row">
        <div class="col-md-12">
          <%= link_to sentence_path(sentence) do %>
            <%= sentence.simplified %>
            <%= sentence.translation %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
</div>
