<h1>New Sentence</h1>

<%= bootstrap_form_for @sentence, as: :sentence, url: lexicon_sentences_path(@lexicon) do |f| %>
  <%= f.text_field :simplified %>
  <%= f.text_field :traditional %>
  <%= f.text_field :pinyin %>
  <%= f.submit "Create", class: 'btn btn-success' %>
  <%= link_to "Cancel", lexicon_sentences_path(@lexicon), class: 'btn btn-default' %>
<% end %>
