<% content_for :lexical_resource_content do %>
  <ul class="nav nav-tabs">
    <%= content_tag :li, role: 'presentation', class: (nav.lexicons? && 'active') do %>
      <%= link_to "Lexicons", lexical_resource_lexicons_path(@lexical_resource) %>
    <% end %>
    <%= content_tag :li, role: 'presentation', class: (nav.sense_axis? && 'active') do %>
      <%= link_to "Sense Axis", lexical_resource_sense_axis_path(@lexical_resource) %>
    <% end %>
    <%= content_tag :li, role: 'presentation', class: (nav.sentence_axis? && 'active') do %>
      <%= link_to "Sentence Axis", lexical_resource_sentence_axis_path(@lexical_resource) %>
    <% end %>
  </ul>

  <br />

  <div class="row">

    <%= yield :resources_header %>

  </div>

  <hr />

  <%= yield %>

<% end %>

<%= render template: "layouts/lexical_resource" %>
