<% content_for :lexicon_content do %>
  <ul class="nav nav-tabs">
    <%= content_tag :li, role: 'presentation', class: (nav.lexical_entries? && 'active') do %>
      <%= link_to "Lexical Entries", lexicon_lexical_entries_path(@lexicon) %>
    <% end %>
    <%= content_tag :li, role: 'presentation', class: (nav.sentences? && 'active') do %>
      <%= link_to "Sentences", lexicon_sentences_path(@lexicon) %>
    <% end %>
  </ul>

  <br />

  <div class="row">

    <%= yield :resources_header %>

  </div>

  <hr />

  <%= yield %>

<% end %>

<%= render template: "layouts/lexicon" %>
